.file-upload-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #1f2126;
    border-radius: 10px;
    height: 90% !important;
    overflow-y: scroll;
    scrollbar-width: none;

    h2 {
        text-align: center;
        margin-bottom: 2.5rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 0;
        margin-bottom: 1.5rem;
    }

    .upload-area {
        text-align: center;
        border: 2px dashed #ccc;
        padding: 20px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        &:hover {
            background: #161719;
        }

        input {
            display: none;
        }
    }
    .no-pdf{
        padding:3.5rem 3rem 1.5rem 3rem ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        gap: 10px;
        .pdf-icon{
            height: 10rem;
            width: 10rem;
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
        }
    }
    .uploaded-files {
        margin-top: 20px;

        ul {
            list-style: none;
            padding: 0;
            overflow-y:scroll;
            scrollbar-width: none;
            height: 42vh;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

            li {
                display: flex;
                justify-content: space-between;
                padding: 5px;
                background: #1f2126;
                border-radius: 5px;
                margin-bottom: 5px;

                button {
                    color: rgb(66, 64, 64);
                    border: none;
                    border-radius: 5px;
                    padding: 5px 10px;
                    cursor: pointer;
                    color: white;
                    background-color: #161719;

                }
            }
        }
    }
    .loading{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .submit {
        display: block;
        margin: 20px auto 0;
        padding: 10px 20px;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: relative;

        &:disabled {
            cursor:not-allowed;
            color: white;
            background: #5e5f62;
        }

        &:hover:enabled {
            background: #176221;
        }

        &:enabled{
            color: white;
            background: #27a538;
        }
    }
}